<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<array>
		<dict>
			<key>Username</key>
			<string>sachin@gmail.com</string>
			<key>Password</key>
			<string>12345</string>
		</dict>
		<dict>
			<key>Username</key>
			<string>simranjit@gmail.com</string>
			<key>Password</key>
			<string>09876</string>
		</dict>
	</array>
</dict>
</plist>
